h1 {
  font-family: var(--vscode-editor-font-family);
}

.app {
  margin: 15px auto;
  max-width: 80rem;
}

.app__actions,
.tree__actions {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
}

.app__error {
  color: var(--vscode-editorError-foreground);
}

.file-tree__content {
  margin-top: 10px;
}

.settings {
  margin: 15px 0;
}

.settings__field-label {
  margin-bottom: 5px;
  font-weight: bold;
}

.settings__content {
  margin-top: 10px;
  border: 1px solid var(--vscode-editorWidget-border);
  border-radius: 4px;
  background-color: var(--vscode-editorWidget-background);
  padding-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-wrap: wrap;
}

.settings__field {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 0 0 35%;
}

.template-column {
  display: flex;
  flex-direction: column;
  flex: 0 0 60%;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .column, .template-column {
    flex: 0 0 95%;
  }
}