
h1 {
  font-family: var(--vscode-editor-font-family);
}

.app {
  margin: 15px auto;
  max-width: 80rem;
}

.app__actions {
  display: flex;
  gap: 1rem;
  margin-bottom: 10px;
}

.app__error {
  color: var(--vscode-editorError-foreground);
}

.file-tree__content {
  margin-top: 10px;
}

.settings {
  margin: 15px 0;
}

.settings__content {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid var(--vscode-editorWidget-border);
  border-radius: 4px;
  background-color: var(--vscode-editorWidget-background);
}

.settings__field {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.settings__field-label {
  margin-bottom: 5px;
  font-weight: bold;
}

